body{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #ffd0a8;
color: #333;
font-family: 'calibri', 'sans-serif';
font-weight: 400;
}

.container{
text-align: center;
flex:0 0 80%;
}

#quoteBtn{
border: none;
color: #fff;
background: #d89156;
font-size: 1.3rem;
padding: 0.25rem 0.5rem;
border-radius: 7px;
cursor: pointer;
}

#quoteAuthor{
color: #000000;
}
